<ion-header>
  <ion-toolbar>
    <ion-title text-center>
			진료 기록
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-list>
			<ion-item>
				<ion-label>2018.02.04</ion-label>
			</ion-item>
			<ion-item>
				<ion-label>2018.07.19</ion-label>
			</ion-item>
			<ion-item>
				<ion-label>2018.11.03</ion-label>
			</ion-item>
			<ion-item>
				<ion-label>2019.01.09</ion-label>
			</ion-item>
			<ion-item>
				<ion-label>2019.02.17</ion-label>
			</ion-item>
			<ion-item>
				<ion-label>2019.03.02</ion-label>
			</ion-item>
			<ion-item>
				<ion-label>2019.03.23</ion-label>
			</ion-item>
			<ion-item>
				<ion-label>2019.04.14</ion-label>
			</ion-item>
			<ion-item>
				<ion-label>2019.05.02</ion-label>
			</ion-item>
			<ion-item>
				<ion-label>2019.05.30</ion-label>
			</ion-item>
			<ion-item>
				<ion-label>2019.06.02</ion-label>
			</ion-item>
		</ion-list>
	</ion-card>
</ion-content>
