# NPM (Node Package Manager) files
npm-debug.log*
node_modules/
tmp/
temp/

# Trash data
$RECYCLE.BIN/
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

# Preprocessors cache files
.sourcemaps/
.sass-cache/
.tmp/
hooks/