.diag-input {
    margin-left: 60px;
}

.clinic-input{
    margin-left: 40px;
}

.diag-datetime {
    margin-left: 40px;
}

.cost-input{
    --padding-start: calc(65%);
}

.margin-top{
    margin-top: 10px;
}

.padding-left{
    margin-left: 0px;
}

.toolbar-margin{
    margin-bottom: 0px;
}