<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">진료 기록하기</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item>
      <ion-label>진료 날짜</ion-label>
      <ion-datetime display-format="YYYY.MM.DD" placeholder="날짜를 선택해주세요." [(ngModel)]="currentDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>진료 시간</ion-label>
      <ion-datetime display-format="HH:mm" placeholder="시간을 선택해주세요." [(ngModel)]="currentDate"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label>반려동물 선택</ion-label>
        <ion-select interface="popover">
          <ion-select-option *ngFor="let pet of pets">{{pet}}</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label>진료 병원</ion-label>
      <ion-input placeholder="병원 검색" (click)="searchClinic()" class="clinic-input">
        <!--ion-modal-controller></ion-modal-controller-->
      </ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>진단내용</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>진단명</ion-label>
        <ion-input placeholder="진단명" class="diag-input"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>발병시기</ion-label>
      <ion-datetime display-format="YYYY.MM.DD" mode="md" class="diag-datetime"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">증상</ion-label>
      <ion-textarea placeholder="내용을 입력하세요"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">예후 소견</ion-label>
      <ion-textarea placeholder="내용을 입력하세요"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label>진료비</ion-label>
    <ion-input type="number" class="cost-input" pattern="\d*"></ion-input>
    <ion-label>원</ion-label>
  </ion-item>

  <ion-row>
    <ion-col style="text-align: center">
      <ion-button (click)="createReview()">등록</ion-button>
      <ion-button (click)="cancelReview()" color="danger">취소</ion-button>
    </ion-col>
  </ion-row>
  
</ion-content>
