<ion-header>
  <ion-toolbar>
    <ion-title>로그인</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card padding>
    <ion-item>
      <ion-label position="stacked">이메일</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">비밀번호</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-card>

  <ion-row style="text-align: center">
    <ion-col>
      <ion-button [routerLink]="['']">로그인</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
