<ion-header>
  <ion-toolbar >
    <ion-title text-center>
      계정정보 수정
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-round-back" default-href=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-row>
        <ion-col>
          <ion-card-title>계정정보</ion-card-title>
        </ion-col>
        <ion-col style="text-align: right">
          <!--ion-button [routerLink]="['']" size="small">수정 완료</ion-button-->
          <ion-button size="small" (click)=goBack()>수정 완료</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-header>
    
    <ion-card-content padding>
      <ion-item>
        <ion-label position="stacked">이메일</ion-label>
        <ion-input>gofire99@naver.com</ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">비밀번호</ion-label>
        <ion-input>***********</ion-input>
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">닉네임</ion-label>
        <ion-input>ㅎㅎㅎㅎ</ion-input>
      </ion-item>
      <!--ion-row>
        <ion-col style="text-align: center">
          <ion-button>수정</ion-button>
        </ion-col>
      </ion-row-->
    </ion-card-content>
  </ion-card>
</ion-content>
