<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="" text=""></ion-back-button>
    </ion-buttons>
    <ion-title text-center>회원 가입</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card padding>
    <ion-item>
      <ion-label position="stacked">이메일</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">비밀번호</ion-label> 
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">닉네임</ion-label> 
      <ion-input type="text" [(ngModel)]="nickname"></ion-input>
    </ion-item>
  </ion-card>

  <ion-row style="text-align:center">
    <ion-col>
      <ion-button (click)="register()" [routerLink]="['/login']">등록</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
