<ion-header>
  <ion-toolbar>
    <ion-title>동물병원 지도</ion-title>
    <ion-button (click)="loadMap()" shape="round" fill="outline" size="small">
      <ion-icon slot="start" name="locate" ></ion-icon>
      Activate
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="map-wrapper">
    <div id="map_center">
      <img src="../../assets/icon/center_marker.png" />
    </div>
    <div #map id="map"></div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-searchbar animated spellcheck="false" type="text"></ion-searchbar>
    <div id="address">
      <span>{{address}}</span>
    </div>
  </ion-toolbar>
</ion-footer>