<ion-header translucent>
  <ion-toolbar>
    <ion-title>기록 보기</ion-title>

    <ion-button class="backButton" slot="start" fill="clear" (click)="goBack()" style="max-height: 25px">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item>
      <ion-label>진료 날짜</ion-label>
      <ion-datetime [style.pointerEvents]="'none'" display-format="YYYY.MM.DD" [(ngModel)]="diagDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>진료 시간</ion-label>
      <ion-datetime [style.pointerEvents]="'none'" display-format="HH:mm" [(ngModel)]="diagDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>반려동물 선택</ion-label>
      <ion-label style="text-align: end">{{pet.name}}</ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label>진료 병원</ion-label>
      <ion-label style="text-align: end">{{clinic.name}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>진단내용</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>진단명</ion-label>
      <ion-label style="text-align: end">{{diagnosis}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>발병시기</ion-label>
      <ion-datetime [style.pointerEvents]="'none'" display-format="YYYY.MM.DD" [(ngModel)]="sickDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">증상</ion-label>
      <ion-textarea [style.pointerEvents]="'none'" [(ngModel)]="symptom"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">소견 및 처방</ion-label>
      <ion-textarea [style.pointerEvents]="'none'" [(ngModel)]="prognosis"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label>진료비</ion-label>
    <ion-label style="text-align: end">{{cost}} 원</ion-label>
  </ion-item>

  <ion-row>
    <ion-col style="text-align: center">
      <ion-button (click)="modifyReview()">수정</ion-button>
      <ion-button (click)="deleteReview()" color="danger">삭제</ion-button>
    </ion-col>
  </ion-row>
  
</ion-content>